.header {
    height: 100vh;
    background-image: url(../../assets/Background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 87px;
    background-color: #000;
}

.header-top {
    padding: 24px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    transition: .3s linear;
}

.header-top.active {
    background: var(--primary-color-black);
    padding: 19px 15px;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.59);
}

.nav {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
}

.menu {
    display: flex;
    flex: 1;
    justify-content: center;
    list-style: none;
    gap: 15px;
}

.link {
    text-decoration: none;
    color: var(--text-color-grey);
    font-size: 12px;
    text-transform: uppercase;
    transition: .3s linear;
}

.link:hover,
.link.active {
    color: var(--primary-color-main-color);
}

.burger {
    display: none;
}

.contact-link {
    border: 1px solid var(--primary-color-main-color);
    border-radius: 4px;
    padding: 12px 16px;
    width: 92px;
    height: 39px;
    display: block;
    line-height: normal;
    text-transform: uppercase;
    font-size: 12px;
    color: var(--primary-color-main-color);
}

.header-bottom {
    padding: 218px 0 225px 0;

}

.header-bottom .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-social {
    flex-direction: column;
    gap: 32px;
}

.header-sub {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.25;
    letter-spacing: -0.04em;
    color: var(--primary-color-main-color);
}

.header-sub span {
    color: var(--text-color-white);
}

.header-title {
    font-family: var(--second-family);
    font-size: 130px;
    line-height: 1.18;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: var(--text-color-white);
}

.header-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: -0.04em;
    color: var(--text-color-white);
    margin-bottom: 24px;
}

.header-link {
    border-radius: 4px;
    padding: 16px 0px;
    width: 106px;
    height: 47px;
    display: block;
    text-align: center;
    text-transform: capitalize;
}

.header__about {
    background: url(../../assets/about-bg.jpg) no-repeat center/cover;
    padding-top: 87px;
}

.header-content__about .header-title {
    text-align: center;
    letter-spacing: 0.01em;
}

.header-content__about {
    padding: 100px 0 150px 0;
}

.header-sub__about {
    display: block;
    text-align: center;
    text-transform: capitalize;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: -0.04em;
    color: var(--text-color-grey);
    margin-top: 16px;
}

.header-sub__about span {
    color: #fff;
    font-weight: 700;
}

.header__portfolio {
    background: url(../../assets/portfolio-bg.jpg) no-repeat center/cover;
    padding-top: 87px;
}



@media(max-width:768px) {
    .nav {
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: 100vh;
        justify-content: center;
        align-items: center;
        background: var(--primary-color-black);
        width: 100vw;
        position: fixed;
        left: 0;
        top: -1000px;
        transition: .9s linear;
        z-index: 11;
    }

    .nav.active {
        top: 0;
        z-index: 11;
    }

    .menu {
        flex-direction: column;
        gap: 20px;
        width: 100%;
        align-items: center;
        flex: none;
    }

    .contact-link {
        width: 150px;
        text-align: center;
        font-size: 20px;
        height: 50px;
    }

    .link {
        font-size: 24px;
    }

    .burger {
        display: flex;
        width: 47px;
        height: 35px;
        background: url(../../assets/burger.svg) no-repeat center;
        cursor: pointer;
        position: fixed;
        z-index: 15;
        right: 16px;
    }

    .burger.active {
        background: url(../../assets/burger-close.svg) no-repeat center;
    }

    .header-title {
        font-size: 115px;
    }

}

@media(max-width:590px) {
    .header-title {
        font-size: 80px;
    }

    .about-block {
        flex-wrap: wrap;
        justify-content: center;
    }

    .about-descript {
        padding-left: 0;
    }
}

@media(max-width:450px) {
    .header-title {
        font-size: 65px;
    }

    .header-content__about {
        padding: 80px 0 150px 0;
    }
}

@media(max-width:390px) {
    .header-title {
        font-size: 50px;
    }
}