.footer {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../../assets/footerBg.jpg);
}

.footer-title {
    color: var(--text-color-white);
}

.footer-top {
    padding: 55px 0 50px 0;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.contact-list {
    margin: 55px 0 64px 0;
    display: flex;
    flex-direction: column;
    gap: 42px;
}

.contact-list li {
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.contact-list .title {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: var(--text-color-white);
}

.contact-list .descript {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: var(--text-color-grey);
}

.contact-phone {
    background: url(../images/phone.svg) no-repeat left center;
}

.contact-email {
    background: url(../images/email.svg) no-repeat left center;
}

.contact-address {
    background: url(../images/location.svg) no-repeat left center;
}

.footer-social {
    gap: 28px;
}

.footer-form-title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 24px;
    color: var(--text-color-white);
    padding-bottom: 24px;
    border-bottom: 1px solid #1c1e21;
    margin-bottom: 40px;
}

.footer-form-title span {
    color: var(--primary-color-main-color);
}

.form label {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: var(--text-color-white);
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form-block {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 32px;
}

.form-block input {
    border-radius: 2px;
    width: 312px;
    height: 54px;
    background: rgba(202, 205, 209, 0.1);
    border: none;
    padding: 0 16px;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: -0.02em;
    color: rgba(169, 169, 170, 0.6);
    transition: .3s linear;
}



.form textarea {
    border-radius: 2px;
    width: 654px;
    height: 124px;
    background: rgba(202, 205, 209, 0.1);
    resize: none;
    border: none;
    padding: 16px;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: -0.02em;
    color: rgba(169, 169, 170, 0.6);
    transition: .3s linear;
}

.form-block input:focus,
.form textarea:focus {
    outline: 1px solid var(--primary-color-main-color);
}

.message {
    margin-bottom: 48px;
}

.form-btn {
    border-radius: 4px;
    padding: 16px 24px;
    width: 148px;
    height: 47px;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
}

.footer-bottom {
    background: #0c0c0e;
    display: flex;
    justify-content: center;
    padding: 30px 15px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: -0.04em;
    text-align: center;
    color: var(--text-color-grey);
    gap: 5px;
}

.arrow-top {
    position: fixed;
    z-index: -1;
    bottom: 50px;
    right: -30px;
    background: #fe390c;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: .3s linear;
}

.arrow-top.active {
    opacity: 1;
    right: 30px;
    z-index: 10;
}

.arrow-top svg{
    color: #fff;
    font-size: 30px;
}

@media(max-width:1160px) {
    .footer-top {
        justify-content: center;
        flex-wrap: wrap;
        gap: 40px;
    }
}

@media(max-width:980px) {
    .contact-top {
        flex-wrap: wrap;
        justify-content: center;
    }

    .contact-contact,
    .contact-form {
        width: 100%;
    }

}


@media(max-width:768px) {
    .work-wrapper h2 {
        text-align: center;
        font-size: 30px;
    }

    .work-wrapper {
        padding: 50px 10px 50px 10px;
        background-size: cover;
    }

    .testimonial-slider ul.slick-dots {
        margin-top: 10px;
    }

    .footer-contact,
    .footer-form {
        width: 100%;
    }

    .form-block {
        flex-wrap: wrap;
    }

    .form label,
    .form-block input,
    .form textarea {
        width: 100%;
    }
}

@media(max-width:590px) {
    .header-title {
        font-size: 80px;
    }

    .about-block {
        flex-wrap: wrap;
        justify-content: center;
    }

    .about-descript {
        padding-left: 0;
    }
}

@media(max-width:450px) {
    .header-title {
        font-size: 65px;
    }

    .experiance-block {
        width: 100%;
    }

    .inner-title {
        font-size: 30px;
    }

    .data-number {
        font-size: 64px;
    }

    .header-content__about {
        padding: 80px 0 150px 0;
    }
}

@media(max-width:390px) {
    .header-title {
        font-size: 50px;
    }

    .work-wrapper h2 {
        font-size: 32px;
        width: 185px;
    }
}